/* Tags */

/* Tags */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

/* Classes */

.container-fluid {
    padding: 3% 15%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.logo {
    padding-right: .5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 1.1em;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* .title-img-div {
    text-align: center;
} */

.title-img {
    position: absolute;
    right: 23%;
    transform: rotate(25deg);
    width: 20%;
}

.features-card {
    text-align: center;
    margin: 10% auto;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-desc {
    color: #8f8f8f;
}

.feature-icon {
    color: #ef8172;
    font-size: 3rem;  
    padding-bottom: 1rem; 
    
    transition: all .2s ease-in;
}

.feature-icon:hover {
    color: #ff4661;;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    border-radius: 50%;
    margin: 1rem;
    width: 10%;
}

.press-img {
    margin: 1rem 1.2rem;
    width: 15%;
}

.card-sec {
    padding: 2rem 0;
}

.pricing-col {
    padding: 3% 2%;
}

.cta-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding: 10% 10% 0;
}

.download-cta-btn {
    margin: 3% 1% 8%;
}

.footer-logo {
    padding: 5% 4%;
}

.footer-text {
    padding-bottom: 5%;
}

/* Id */

#title {
    background-color: #ff4661;
    color: white;
    padding-bottom: 3%;
}

#features {
    background-color: white;
    position: relative;
}

#testimonials {
    background-color: #ef8172;
    color: white;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    padding: 4rem .5rem;
    text-align: center;
}

#cta {
    background-color: #ff4661;
    text-align: center;
}

#footer {
    background-color: white;
    text-align: center;
}

/* Media queries */

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    
    .title-img {
        transform: rotate(0);
        position: static;
        width: 50%;

        transition: all 1s ease;
    }

}

@media (max-width: 1092px) and (min-width: 992px) {
    h1 {
        font-size: 3rem;

        transition: all 1s ease;
    }

    .title-img {
        transform: rotate(0);
        margin: 0 auto;
        transition: all 1s ease;
    }

}